<div class="contenedor-pantalla">
  <main class="reproductor-pantalla">
    <ng-container *ngIf="actual(); else sinContenido">
      <video
        #video
        class="reproductor-pantalla__video"
        autoplay
        muted
        playsinline
        (ended)="onVideoEnded()"
        (error)="siguiente()"
      ></video>
    </ng-container>

    <ng-template #sinContenido>
      <div class="reproductor-pantalla__vacio">
        <p>{{ mensaje() }}</p>
        <button
          *ngIf="reproduciendo(); else botonIniciar"
          type="button"
          class="boton-iniciar"
          (click)="iniciarReproduccion()"
        >
          Reintentar
        </button>
        <ng-template #botonIniciar>
          <button type="button" class="boton-iniciar" (click)="iniciarReproduccion()">
            ▶ Iniciar reproducción
          </button>
        </ng-template>
      </div>
    </ng-template>
  </main>
</div>
